/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* color */
:root {
  --color-line: #97a2ad;
}

/* 태그 리셋 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Pretendard-Regular';
  font-size: 2vh;
  font-weight: 300;
  color: inherit;
  box-sizing: border-box;
  text-align: center;
}

/* common */
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;  /* 전체 화면을 차지하도록 설정 */
}

main {
  flex: 1;
  overflow: hidden; /* 스크롤을 위해 메인 영역에 오버플로우 숨기기 */
}

main > section {
  height: 100vh;  
  padding-top: 10vh;
}

header, section, footer {
  background-color: #6B7B8B;
  border-bottom: 2px solid var(--color-line);
}

h2 {
  font-family: 'Playfair Display';
  font-size: 8vh;
}










/* header */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}

header h1 {
  line-height: 10vh;
}

header h1 a img {
  width: 100%;
  height: 80%;
  margin-top: 10%;
  margin-left: 20%;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header nav ul li {
  padding: 0 20px;
}










/* landing */
#land {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#land .container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

#land .container .pbox {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: end;
  position: relative;
  padding-bottom: 40px;
}

#land .container .pbox p {
  font-family: 'Playfair Display';
}

#land .container .pbox .explain {  
  padding: 0 20px 90px 0;
}

#land .container .pbox .explain p {
  text-align: end;
}

#land .container .pbox .myname {
  font-size: 9.7vh;
  line-height: 9.7vh;
  text-align: start;
  position: absolute;
  bottom: 20vh;
}

#land .container .pbox .prtfl {
  font-size: 30vh;
  line-height: 20vh;
  padding-left: 20%;
}

#land .container .video_box {
  width: 100%;
  overflow: hidden;
  border-left: 2px solid var(--color-line);
}

#land .container .video_box video {
  margin-top: 14vh;
  height: 100%;
}

/* scroll down */
.scrolldown-wrapper {
	left: 97%;
	position: absolute;
	text-align: center;
	bottom: 60vh;
	transform: translate(-50%, -50%);
}
  
.scrolldown {
	border: 2px solid #333;
	border-radius: 30px;
	height: 46px;
	margin: 0 auto 8px;
	text-align: center;
	width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: #333;
}
  
.scrolldown-p2 {
	animation-delay: .75s;
}

@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}










/* introduce */
#intro {
  display: grid;
  grid-template-columns: 5fr 5fr;
  overflow: hidden;
}

#intro .title {
  border-right: 2px solid var(--color-line);
}

#intro .title h2 {
  line-height: 40vh;
}

#intro .title div {
  width: 90%;
  height: 60%;
  /* background-color: aliceblue; */
}

#intro .title div img {
  width: 80%;
  height: 90%;
}

#intro .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro .content h3 {
  line-height: 10vh;
  font-size: 2.7vh;
  font-weight: 700;
}

#intro .content .certi {
  margin-bottom: 100px;
}










/* skill */
#skill {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

#skill .title {
  border-right: 1px solid var(--color-line);
}

#skill .title h2 {
  line-height: 90vh;
}

#skill .skill_list .list_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#skill .skill_list .list_wrap li {
  width: 100%;
  position: relative;
  display: grid; place-items: center;
}

#skill .skill_list .list_wrap li:not(:last-child) {
  margin-bottom: 10px;
}

#skill .skill_list .list_wrap li .progress {
  appearance: none;
  width: 60vh;
}

#skill .skill_list .list_wrap li .progress::-webkit-progress-bar {
  background-color: #6B7B8B;
  border-radius: none;
  border: 1px solid #4a5661;
  width: 60vh;
  height: 10px;
}

#skill .skill_list .list_wrap li .progress::-webkit-progress-value {
  background-color: #4a5661;
}










/* portfolio */
#portf h2 {
  line-height: 20vh;
}
#portf .btn {
  display: flex;
  justify-content: center
}

/* slider */
#portf .slider-wrapper {
  position: relative;
  width: 80%;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  /* box-shadow: 0 0 35px 20px #dde5ee; */
}

#portf .slider-wrapper .slider {
  position: relative;
  height: 60vh;
  padding: 5rem 0;
}

#portf .slider-wrapper .slider::after {
  content: "";
  display: table;
  clear: both;
}

#portf .slider-wrapper .slider .slide-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#portf .slide-navigation__squares, #portf .slide-navigation__txt {
  width: 10%;
  position: relative;
  float: left;
  overflow: hidden;
}

#portf .slide-navigation__squares::after, #portf .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}

#portf .slide-navigation__txt {
  display: block;
  height: 100%;
}

#portf .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}

#portf .slide-navigation__txt ul {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  display: table-cell;
  width: 30rem;
  transform: rotate(90deg);
  transform-origin: 0;
  margin-left: calc(50% - 0.14rem);
}

#portf .slide-navigation__txt ul::after {
  content: "";
  display: table;
  clear: both;
}

#portf .slide-navigation__txt li {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 1.2rem;
  position: relative;
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: #a1a5b8;
}

#portf .slide-navigation__txt li span {
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
}

#portf .slide-navigation__txt li span.active {
  transform: scale(1.1, 1.1);
  color: #e34d67;
}

#portf .slide-navigation__squares {
  display: block;
  height: 100%;
}

#portf .slide-navigation__squares .squares-wrapper {
  position: absolute;
  margin-left: calc(50% - 0.4rem);
  bottom: 5rem;
  height: 4.6rem;
  overflow: hidden;
}

#portf .slide-navigation__squares .squares-slider {
  position: relative;
  display: block;
  margin-top: -2.5rem;
  transform: translateY(-2.5rem);
}

#portf .square {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  margin: 1.3rem 0;
  background: #a1a5b8;
}

#portf .square.red {
  background: #e34d67;
}

#portf .slides-container {
  position: relative;
  width: 80%;
  float: left;
  height: 100%;
}

#portf .slide {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
}

#portf img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

#portf .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5rem 5.8rem;
  overflow: hidden;
}

#portf h3 {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
  margin: 0;
  opacity: 0.6;
  position: relative;
}

#portf h4 {
  color: #e34d67;
  font-size: 4.8rem;
  max-width: 80%;
  margin: 0;
  margin-top: -6rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
}

#portf .slide-txt {
  position: relative;
  display: block;
  width: 100;
  margin-top: 6rem;
}

#portf .slide-txt::after {
  content: "";
  display: table;
  clear: both;
}

#portf p {
  margin: 0;
  max-width: 55%;
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.4;
  float: left;
}

#portf button {
  display: block;
  float: right;
  width: 18rem;
  text-align: center;
  background: transparent;
  background-color: transparent;
  border: 0.28rem solid #e34d67;
  text-transform: uppercase;
  padding: 0.8rem 0.5rem;
  font-size: 1.5rem;
  color: #e34d67;
  font-weight: 600;
  letter-spacing: 0.2rem;
  outline: none;
  overflow: hidden;
}











/* contact */
#contact {
  display: grid;
  grid-template-columns: 3fr 7fr;
}